@Styles.Render("~/css-datetimepicker")
@Scripts.Render("~/js-datetimepicker")

@{ Html.RenderPartial("AddWatchedScripts");}

<!-- Modal -->
<div class="modal fade bs-modal-lg" id="AddAHistory" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add watched anime</h4>
      </div>
      <div class="modal-body">
        <div class="tab-pane fade active in">
            @using (Html.BeginForm("AddWatcheda", "AHistory"))
            {
            <fieldset>

            <!-- first row-->
            <div class="row">

                <!-- Name input-->
                <div class="control-group col-md-6">
                    <label class="control-label" for="aname">Name:</label>
                    <div class="controls">
                        <input id="aname" name="aname" type="text" class="form-control input-medium">
                    </div>
                </div>

                <!-- Year input-->
                <div class="control-group col-md-2">
                    <label class="control-label" for="ayear">Year:</label>
                    <div class="controls">
                        <input id="ayear" name="ayear" type="text" class="form-control input-medium">
                    </div>
                </div>

                <!-- WaId input-->
                <div class="form-group col-md-4">
                    <label class="control-label" for="waid">World Art ID:</label>
                    <div class="controls row">
                        <div class="col-md-5">
                            <input id="waid" name="waid" type="text" class="form-control input-medium">
                        </div>
                        <div class="col-md-7">
                            <button class="btn btn-primary" id="getWAbtn">Get info from WA</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <br />

            <!-- second row-->
            <div class="row">

                <!-- Type input-->
                <div class="control-group col-md-4">
                    <label class="control-label" for="atype">Type:</label>
                    <div class="controls">
                        <select class="form-control input-medium self-center" id="atype" name="atype">
                          <option>TV</option>
                          <option>OVA</option>
                          <option>Movie</option>
                        </select>
                    </div>
                </div>

                 <!-- Season number input-->
                <div class="control-group col-md-4">
                    <label class="control-label" for="aseasonnum">Season/OVA/Movie Number:</label>
                    <div class="controls">
                        <input id="aseasonnum" name="aseasonnum" type="text" class="form-control input-medium self-center" value="1">
                    </div>
                </div>

                <!-- Episode count input-->
                <div class="control-group col-md-4" id="epcountdiv">
                    <label class="control-label" for="aepcount">Number Of Episodes:</label>
                    <div class="controls">
                        <input id="aepcount" name="aepcount" type="text" class="form-control input-medium self-center">
                    </div>
                </div>

            </div>

            <br />
            <hr/>

            <!-- third row-->
            <div class="row">

                <!-- Watch status input-->
                <div class="control-group col-md-4" id="watchstatusdiv">
                    <label class="control-label" for="awatchstatus">Watching Status:</label>
                    <div class="controls">
                        <select class="form-control input-medium self-center" id="awatchstatus" name="awatchstatus">
                          <option>Current</option>
                          <option>Finished</option>
                          <option>Rewatched</option>
                          <option>Dropped</option>
                        </select>
                    </div>
                </div>

                <!-- Time watched input-->
                <div class="control-group col-md-4" id="timewatcheddiv">
                    <label class="control-label" for="atimewatched">Time Watched:</label>
                    <div class="controls">
                        <input id="atimewatched" name="atimewatched" type="text" class="form-control input-medium self-center">
                    </div>
                </div>

                <!-- Dropped on ep input-->
                <div class="control-group col-md-4" id="droppeddiv">
                    <label class="control-label" for="adroppedep">Droppped On Episode:</label>
                    <div class="controls">
                        <input id="adroppedep" name="adroppedep" type="text" class="form-control input-medium self-center">
                    </div>
                </div>

                <!-- User rating input-->
                <div class="control-group col-md-4">
                    <label class="control-label" for="auserrating">User's Rating:</label>
                    <div class="controls">
                        <input id="auserrating" name="auserrating" type="text" class="form-control input-medium self-center">
                    </div>
                </div>

            </div>
            
            <br />

            <!-- fourth row-->
            <div class="row">

                <div class="control-group col-md-2"></div>

                <!-- Time started input-->
                <div class="control-group col-md-4">
                    <label class="control-label" for="astartedtime">Time started:</label>
                    <div class="controls">
                        <div class="form-group self-center">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" id="astartedtime" name="astartedtime"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Time finished input-->
                <div class="control-group col-md-4">
                    <label class="control-label" for="afinishedtime">Time finished:</label>
                    <div class="controls">
                        <div class="form-group self-center">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" id="afinishedtime" name="afinishedtime"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group col-md-2"></div>

            </div>

            <!-- adding date -->
            <input type="hidden" id="aaddate" name="aaddate" value="@DateTime.Now" />

            <br />

            <!-- Error-message area -->
            <span class="error" id="error-message"></span>

            </fieldset>
                
            <div class="modal-footer text-center">
                <!-- Submit/Cancel -->
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" id="addWatcheda" name="addWatcheda" class="btn btn-primary" value="Submit"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            }
        </div>
      </div>
    </div>
  </div>
</div>